# Исключение классов и логов
*.class
*.log

# Исключение архивов
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Java файлы ошибок
hs_err_pid*

# Build-папки и временные файлы
out/
target/
build/

# Исключение mvn wrapper (оставляем, если нужно)
!.mvn/wrapper/maven-wrapper.jar

# Удаление всех папок target кроме src/
!**/src/main/**/target/
!**/src/test/**/target/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Базы данных
*.db
db/

# Исключение специфических файлов, которые есть в репозитории
checkstyle.xml
lombok.config
suppressions.xml
images/